<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <div class="container d-flex justify-content-center mt-5">
    <form action="/" method="get">
        <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="0" checked>
        <label class="form-check-label" for="flexRadioDefault1">
            Il numero di prodotti per ogni categoria
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="1" >
        <label class="form-check-label" for="flexRadioDefault2">
            Il numero di ordini per ogni store
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" value="2" >
        <label class="form-check-label" for="flexRadioDefault3">
            Numero di prodotti per ogni brand
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" value="3" >
        <label class="form-check-label" for="flexRadioDefault4">
          Ricerca di prodotti sul nome
        </label>
        </div>
        <button type="submit" class="btn btn-primary">Cerca</button>
    </form>
    </div>
</body>
</html>